#btn {
    background-color: #6200ee;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    box-shadow: 0 0 10px 0 grey;
    transition: 0.5s;
    display: block;
}
#btn:hover {
    background-color: #7f24ff;
    box-shadow: 0 5px 10px 0 gray;
}
img{
    margin-top: 20px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
}